/* Universal styles */

body {
   font-family: Helvetica, sans-serif;
   font-size: 22px;
   color: seashell;
   background-color: black;
   opacity: 0.9;
   text-align: center;

   /* reset browsers default settings */
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* Header Style */

header {
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 50px;
    margin: 10px;
}

/* Nav Style */

nav a {
    color: seashell;  
}

li {
    margin-left: 10px;
    display: inline-flex;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.last-nav {
    margin-right: 15px;;
}

/* Mission Styles */

.container-mission {
    height: 700px;
    width: 1200px;
    background-image: url("./resources/images/img-mission-background.jpg");
    background-repeat: no-repeat;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.mission-text {
    background-color: black;
    width: 1200px;
}

/* Tea Styles */

.container-tea {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
    align-content: center;
}

.tea-text {
    width: 1000px;
}

.img1,
.img2,
.img3, 
.img4,
.img5  {
    height: 200px;
    width: 300px;
}

/* Location Styles */

.container-locations {
    height: 500px;
    width: 1200px;
    margin: 60px auto 0;
    background-image: url(./resources/images/img-locations-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.location {
    margin-bottom: 15px;
}

.downtown, .east, .oak {
    margin: auto;
    width: 300px;
    background-color: black;
}

.location-flexbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
}



/* Footer Styles */

footer {
    height: 200px;
    margin: auto;
}

.copyright {
    display: flex;
    margin-left: 20px;
}