/* Universal styles */

body {
   font-family: Helvetica, sans-serif;
   font-size: 22px;
   color: seashell;
   background-color: black;
   opacity: 0.9;
   text-align: center;

   /* reset browsers default settings */
   margin: 0;
   padding: 0;
}

/* Header Style */

header {
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    display: flex;
    flex-direction: flex-start;
    justify-content: flex-end;
    align-items: flex-start;
    position: fixed;
    z-index: 1; 

}

ul {
    list-style-type: none;
    color: seashell;
}

header img {
    height: 50px;
    margin-left: 10px;
    align-self: flex-start;
}

header a {
    margin: 10px;
}
    
}

/* Mission Styles */

.container-mission {
    height: 700 px;
    width: 1200px;
    position: relative;
    background-image: url("./resources/images/img-mission-background.jpg");
    
}

/* Tea Styles */

/* Location Styles */