/* Universal styles */

body {
   font-family: Helvetica, sans-serif;
   font-size: 22px;
   color: seashell;
   background-color: black;
   opacity: 0.9;
   text-align: center;
}

/* Header Style */

header {
    height: 69px;
    border-bottom: 1px solid seashell;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

ul {
    list-style-type: none;
    color: seashell;

}

.logo {
    
}

/* Mission Styles */

.container-mission {
    height: 700 px;
    width: 1200px;
    background-image: url(./resources/images/img-mission-background.jpg);
    margin: 10px;
}

/* Tea Styles */

/* Location Styles */